#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 660px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border-style: solid;
    border-color: darkblue;
}
.name{
    padding-bottom: 20px;
}
.pass{
    padding-bottom: 20px;
}